@import "tailwindcss";

@theme {
  --color-base: #121212;
  --color-surface: #181818;
  --color-surface-elevated: #252525;
  --color-primary: #539df5; /* Announcement Blue from Spotify Palette */
  --color-text-base: #ffffff;
  --color-text-muted: #b3b3b3;
  --color-text-negative: #f3727f;

  --radius-pill: 9999px;
  --radius-circle: 50%;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--color-base);
}
::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 10px;
  border: 3px solid var(--color-base);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c;
}
